/*** Main container ***/

html, body{
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  height: 100%;
}

.container-left {
  flex: 1;
  z-index: 2;
}

.container-right {
  flex: 2;
  background-image: url('images/rabbit.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*** Navbar ***/

.container-navbar {
  display: flex;
  margin-bottom: 10%;
  width: 100%
}

.navbar-links {
  width: 100%
}

.navbar-links-liste {
  list-style-type:none;
  padding: 0;
}

.navbar-links-liste li {
  display: inline;
  margin-left: 12%;
}

.navbar-links-liste li a{
  color: #969696;
}

.navbar-links-liste li a:hover{
  color: #0C61C6;
}

.navbar-links-liste li a:active{
  color: #0C61C6;
  border-bottom: 2px solid #0C61C6
}

#selected {
  border-bottom: 2px solid #0C61C6;
  color: #0C61C6;
}

/*** Form ***/

form {
    width   : 110%;
    height  : 42px;
    display : flex;
}

.form-icon {
    margin-top: 3.5%;
    margin-right: 3%;
    margin-left: 3%;
}

.container-form {
  width: 100%;
  height: 58px;
  margin: 10px;
  border-radius: 29px;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0px #A1A1A1;
}

.input {
  width: 80%;
  height: 58px;
  border: 0px solid;
  font-size: 18px;
  background-color : transparent;
}

.button {
  margin-top: 0.5%;
  width: 200px;
  height: 50px;
  border: 0px solid;
  border-radius: 29px;
  text-align: center;
  background-color: #0f8;
}

/*** Présenation ***/

.container-presentation {
  margin-bottom: 15%;
  margin-left: 5%;
}

/*** Autres ***/

.container-password {
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  color: #969696;
}

.rabbit {
  height: 100%;
  width: 100%;
}

.burger-menu {
  display: none;
}

/****** TELEPHONE PORTABLE *****/

@media screen and (max-width: 480px) {

  .navbar-links {
    display: none;
  }

  .container-right {
    display: none;
  }

  .container-left {
    width: 100%;
  }

  .container-presentation {
    margin: 0 0 0 0;
    text-align: center;
  }

  .container-form {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
  }

  .container-password {
    margin: 0 0 0 0;
    text-align: center;
  }

}



/***** TABLETTE *****/

@media screen and (min-width : 481px) and (max-width : 768px) {

}

/****** ORDINATEUR *****/

@media screen and (min-width : 769px) and (min-width : 1280px) {

}

/***** ORDINATEUR+ *****/

@media screen and (min-width : 1281px) {

}
